{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="ad-title" style="background-image: url({{  ad.coverImage }})">
    <div class="container">
        <h1>{{ad.title}}</h1>
        <p>{{ad.introduction}}</p>
        <p class="h2">
           <strong>{{ad.price | number_format(2, ',', ' ')}}&euro;</strong> par jour
        </p>
        <a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-primary">Réserver !</a>

    
    </div>
</div>

<div class="container">
    <div class="row">
       
            {{ ad.content | raw }}
            <hr>

             {% if ad.comments|length > 0 %}
               
                <div class="alert alert-info">
                    <h4 class="alert-heading text-center">
                        <div class="row align-items-center">
                    
                                Note globale donnée par nos clients
                        
                            <div class="col">
                                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings} %}
                                <br>
                                <small>(Calculée sur {{ ad.comments|length }} avis)</small>
                            </div>
                        </div>
                    </h4>
                </div>

                {% for comment in ad.comments %}
                    <div class="bg-light rounded mb-3 py-3 px-3">
                        <strong>{{ comment.author.firstName }}</strong> a dit :
                        <blockquote>
                            {{comment.content}}
                        </blockquote>
                        <strong>Note donnée : </strong>
 
                        {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                    </div>
                {% endfor %}
            {% else %}
                <h2>Cette annonce n'a pas encore reçu de commentaires ...</h2>
            {% endif %}

      
       
    </div>
</div>
{% endblock %}